<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>时间段名称</th>
                <th>信息通知</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @daylines.each do |dayline| %>
            <tr>
                <th scope="row"><%= dayline.id %></th>
                <td><%= dayline.subject %></td>
                <td><%= link_to "发送", notice_admin_dayline_path(dayline) %></td>
                <td>
                    <%= link_to "修改", edit_admin_dayline_path(dayline) %>
                    <%= link_to '删除', admin_dayline_path(dayline), method: :delete %>
                </td>
            </tr>
        <% end %>
    </table>
  </div>
</div>