<!DOCTYPE html>
<html>
  <head>
    <title>端砚文档、协作办公、office办公套件</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="<%= controller_name %>">
    <div class="sign-page">
      <div class="sign-box">
        <div class="title">
          <h1><%= link_to "蓝精灵管理系统", root_path %></h1>
        </div>
        <div class="form">
          <%= form_tag admin_sessions_path do %>
            <div class="form-group">
              <%= text_field_tag :phone, params[:phone], autofocus: true, class: "form-control", placeholder: "输入手机号码" %>
              <small style="display:none;" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <%= password_field_tag :password, '', class: "form-control", placeholder: "密码（6～20位字母或数字）" %>
              <small style="display:none;" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <%= submit_tag "登 录", style: "width:100%;font-size:18px;", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>