<div class="mdui-container">
  <ul class="mdui-list">
    <% @shopping_carts.each do |shopping_cart| %>
    <li class="mdui-list-item mdui-ripple">
      <div class="mdui-list-item-avatar">
        <%= image_tag("family-ticket.jpg") %>
      </div>
      <div class="mdui-list-item-content">
        <div class="mdui-list-item-title"><%= shopping_cart.ticket.name %></div>
        <div class="mdui-list-item-text mdui-list-item-one-line"><span class="mdui-text-color-theme-text">￥<%= shopping_cart.ticket.price %></span> </div>
      </div>
      <%= link_to m_shopping_cart_path(shopping_cart), method: :delete do %>
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-color-red-accent mdui-ripple">&#xE928;</i>
      <% end %>
    </li>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <% end %>
  </ul>
  <div class="mdui-row-xs-1">
    <div class="mdui-col">
      <%= link_to "结算", m_orders_path, method: :post, class: "mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple" %>
    </div>
  </div>
</div>