<%= render './m/shared/header', :locals => { title: "购物车" } %>
<ul class="list-unstyled" style="margin-top: 60px;">
  <% @shopping_carts.each do |shopping_cart| %>
  <li style="background-color:#fff;">
    <div class="ticket-wrapper">
      <div class="ticket-logo">
        <%= image_tag("family-ticket.jpg") %>
      </div>
      <div class="ticket-info">
        <div class="subject"><%= shopping_cart.ticket.name %></div>
        <div class="sale">
          <div class="price">
            <span>￥<%= shopping_cart.ticket.price %></span>
          </div>
          <div class="buy">
            <%= link_to "移除", m_shopping_cart_path(shopping_cart), method: :delete, class: "btn btn-raised btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <%= link_to "结算", m_orders_path, method: :post, class: "btn btn-raised btn-danger" %>
  </div>
</div>