<div class="card">
  <div class="card-body card-padding">
    <ul class="list-unstyled list-inline" id="student-lesson-list">
        <li>班级</li>
        <% Lesson.all.each do |lesson| %>
        <li class="<%= 'active' if !@lesson.blank? && @lesson == lesson %>">
            <a href="<%= admin_students_path(lesson_id: lesson.id) %>"><%= lesson.subject %></a>
        </li>
        <% end %>
    </ul>
    <ul class="list-unstyled list-inline" id="student-dayline-list">
        <li>日期</li>
        <% if not @lesson.blank? %>
            <% @lesson.daylines.each do |dayline| %>
            <li class="<%= 'active' if !params[:dayline_id].blank? && params[:dayline_id] == dayline.id %>">
                <a href="<%= admin_students_path(lesson_id: @lesson.id, dayline_id: dayline.id, timeline_id: params[:timeline_id]) %>">
                    <%= dayline.subject %>
                </a>
            </li>
            <% end %>
        <% end %>
    </ul>
    <ul class="list-unstyled list-inline" id="student-timeline-list">
        <li>时间</li>
        <% if not @lesson.blank? %>
            <% @lesson.timelines.each do |timeline| %>
            <li class="<%= 'active' if !params[:timeline_id].blank? && params[:timeline_id] == timeline.id %>">
                <a href="<%= admin_students_path(lesson_id: @lesson.id, dayline_id: params[:dayline_id], timeline_id: timeline.id) %>">
                    <%= timeline.subject %>
                </a>
            </li>
            <% end %>
        <% end %>
    </ul>
  </div>
</div>
<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>所报课程</th>
                <th>时间</th>
                <th>学生名称</th>
                <th>电话</th>
                <th>年龄</th>
                <th>身高</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
            <tr>
                <td><%= student.lesson.subject if student.lesson.present? %></td>
                <td><%= student.dayline.subject if student.dayline.present? %></td>
                <td><%= student.timeline.subject if student.timeline.present? %></td>
                <td><%= student.name %></td>
                <td><%= student.phone %></td>
                <td><%= student.age %></td>
                <td><%= student.height %></td>
                <td><%= i18n_enum student, :status %></td>
                <td>
                    <%= link_to "查看", admin_student_path(student) %>
                    <%= link_to "修改", edit_admin_student_path(student) %>
                    <%= link_to '删除', admin_student_path(student), method: :delete %>
                </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <%= will_paginate @students %>
                </td>
            </tr>
        </tfoot>
    </table>
  </div>
</div>