<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>所报课程</th>
                <th>学生名称</th>
                <th>电话</th>
                <th>年龄</th>
                <th>身高</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
            <tr>
                <th scope="row"><%= student.id %></th>
                <td><%= student.lesson.subject if student.lesson.present? %></td>
                <td><%= student.name %></td>
                <td><%= student.phone %></td>
                <td><%= student.age %></td>
                <td><%= student.height %></td>
                <td>
                    <%= link_to "修改", edit_admin_student_path(student) %>
                    <%= link_to '删除', admin_student_path(student), method: :delete %>
                </td>
            </tr>
        <% end %>
    </table>
  </div>
</div>