<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <tbody>
          <tr>
            <td>学号</td>
            <td><%= @student.trade_no %></td>
          </tr>
          <tr>
            <td>学员</td>
            <td><%= @student.name %></td>
          </tr>
          <tr>
            <td>电话</td>
            <td><%= @student.phone %></td>
          </tr>
          <tr>
            <td>班级</td>
            <td><%= @student.lesson.subject if not @student.lesson.blank? %></td>
          </tr>
          <tr>
            <td>日期</td>
            <td><%= @student.dayline.subject if not @student.dayline.blank? %></td>
          </tr>
          <tr>
            <td>时间</td>
            <td><%= @student.timeline.subject if not @student.timeline.blank? %></td>
          </tr>
          <tr>
            <td>实收款</td>
            <td><%= @student.paid_in %></td>
          </tr>
          <tr>
            <td>状态</td>
            <td><%= i18n_enum @student, :status %></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>