<%= render "admin/shared/searchbar" %>
<div class="header-control-field">
    <%= form_for [:admin, SportField.new], html: { class: "form-inline" } do |f| %>

        <label class="sr-only" for="inlineFormInputGroup">场馆名称</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <%= f.text_field :name, class: "form-control", placeholder: "场馆名称" %>
        </div>

        <button type="submit" class="btn btn-primary">保存</button>
    <% end %>
</div>
<div class="object-list-field">
    <table class="table">
        <thead class="thead-default">
            <tr>
            <th>#</th>
            <th>场馆名称</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @sport_fields.each do |sport_field| %>
            <tr>
                <th scope="row"><%= sport_field.id %></th>
                <td><%= sport_field.name %></td>
                <td>
                    <%= link_to "修改", edit_admin_sport_field_path(sport_field) %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>