<%= wechat_config_js debug: false, api: %w(onMenuShareTimeline) -%>
<script type="application/javascript">
  wx.ready(function() {
    wx.onMenuShareTimeline({
      title: '蓝精灵水上乐园，分享大抽奖.', // 分享标题
      link: '', // 分享链接
      imgUrl: 'http://bluefairypark.cn/logo.jpg', // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
        $.post("http://bluefairypark.cn/m/lucky_draws", { lucky_draw: { user_id: <%= current_user.id %> } }, function(data) {
          $('#lucky-draws-count').text(Number($('#lucky-draws-count').text()) + 1);
          location.reload();
        });
      },
      cancel: function () {
        alert('不分享，精灵哭了...');
        // 用户取消分享后执行的回调函数
      }
    });
  });
</script>
<div class="mdui-container-fluid open-body">
  <div class="mdui-row">
    <div class="mdui-col-xs-12">
      <div class="bg rotate"></div>
      <div class="open-has " style="margin-top: 50px;">
        <div class="mod-chest">
          <div class="chest-close show ">
            <div class="gift"></div>
            <div class="tips">
              <i class="arrow"></i>
            </div>
          </div>
          <div class="chest-open ">
            <div class="mod-chest-cont open-cont">
              <div class="content">
                <div class="gift">
                  <div class="icon">
                    <a href="<%= draw_m_lucky_draws_path %>">
                      <%= image_tag("draw/chest-icon-zuan.png") %>
                    </a>
                  </div>
                    哇，福袋一个
                </div>
                <div class="func">
                  <a href="<%= draw_m_lucky_draws_path %>" class="mdui-btn mdui-btn-block mdui-color-red-accent mdui-ripple">赶快拆开</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mdui-chip mdui-center" style="margin-top: -150px;margin-bottom: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">你还有<span id="lucky-draws-count"><%= current_user.lucky_draws.where(drawed: false).count %></span>次抽奖机会</span>
      </div>
      <div class="mdui-chip mdui-center" style="margin-bottom: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">分享到朋友圈，获取抽奖机会.</span>
      </div>
    </div>
  </div>
  <div class="mdui-row">
    <div class="mdui-col-xs-6">
      <a href="<%= list_m_lucky_draws_path %>" class="mdui-btn mdui-btn-block mdui-color-red-accent mdui-ripple">中奖详情</a>
    </div>
    <div class="mdui-col-xs-6">
      <a href="<%= m_awards_path %>" class="mdui-btn mdui-btn-block mdui-color-red-accent mdui-ripple">查看奖品</a>
    </div>
  </div>
</div>
<% if current_user.lucky_draws.where(drawed: false).count > 0 %>
<script type="text/javascript">
  $(".chest-close").click(function(){

    $(this).addClass("shake");
    var that=this;
    
    this.addEventListener("webkitAnimationEnd", function(){
      
      $(that).closest(".open-has").addClass("opened");
      setTimeout(function(){
        $(that).removeClass("show");
        $(that).closest(".mod-chest").find(".chest-open").addClass("show");
        setTimeout(function(){
          $(".chest-open").addClass("blur");
        },500)
      },200)
    }, false);
  })
</script>
<% else %>
<script>
  $(".chest-close").click(function(){
    alert('你已经没有抽奖机会了，赶快分享换取机会吧');
  })
</script>
<% end %>