<div class="mdui-container-fluid">
  <%= form_for [:m, @lesson, @student], { :html => { class: "form-horizontal" } } do |f| %>
    <fieldset>
      <legend><%= @lesson.subject %> - 报名表格</legend>
      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">学员名字</label>
        <%= f.text_field :name, class: "mdui-textfield-input" %>
      </div>
      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">联系电话</label>
        <%= f.text_field :phone, class: "mdui-textfield-input" %>
      </div>
      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">学员身高</label>
        <%= f.text_field :height, class: "mdui-textfield-input" %>
      </div>
      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">学员年龄</label>
        <%= f.text_field :age, class: "mdui-textfield-input" %>
      </div>
      <%= f.submit "确认报名", class: "mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple" %>
    </fieldset>    
  <% end %>
</div>