<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<%= wechat_config_js debug: true, api: %w(hideMenuItems closeWindow chooseWXPay) -%>
<script type="application/javascript">
  wx.ready(function() {
    wx.hideOptionMenu();
  });
</script>
<div class="mdui-container" style="margin-top: 10px;">
  <div class="mdui-table-fluid">
    <table class="mdui-table">
      <tbody>
        <tr>
          <td>学员</td>
          <td><%= @student.name %></td>
        </tr>
        <tr>
          <td>电话</td>
          <td><%= @student.phone %></td>
        </tr>
        <tr>
          <td>班级</td>
          <td><%= @student.lesson.subject %></td>
        </tr>
        <tr>
          <td>状态</td>
          <td><%= @student.status %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if @student.pending? %>
  <div class="mdui-row-xs-1" style="margin-top: 10px;">
    <div class="mdui-col">
      <a href="javascript:;" onclick="wxpay(this)" data-pid="<%= @student.id %>" data-pname="<%= @student.class.name %>" class="mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple">付款</a>
    </div>
  </div>
  <% end %>
</div>

<% if Figaro.env.wechat_pay_mch_id %>
<script>
  function wxpay(e) {
    var pid = $(e).data('pid');
    var pname = $(e).data('pname');
    $.post('/m/wx_pay?id=' + pid + '&name='+ pname, function(data) {
      wx.chooseWXPay({
        timestamp: data.timeStamp,
        nonceStr: data.nonceStr,
        package: data.package,
        signType: data.signType,
        paySign: data.paySign,
        success: function (res) {
          alert(JSON.stringify(res));
        },
        error: function(e) {
          alert('支付发生错误，请联系客服。');
        }
      });
    });
  }
</script>
<% end %>