<div class="mdui-bottom-nav mdui-bottom-nav-text-auto mdui-bottom-nav-scroll-hide mdui-color-indigo">
  <a href="<%= m_lessons_path %>" class="mdui-ripple mdui-ripple-white <%= active_bottom_nav('lessons') %> <%= active_bottom_nav('students') %>">
    <i class="mdui-icon material-icons">&#xe80e;</i>
    <label>培训班</label>
  </a>
  <a href="<%= m_tickets_path %>" class="mdui-ripple mdui-ripple-white <%= active_bottom_nav('tickets') %>">
    <i class="mdui-icon material-icons">&#xe41d;</i>
    <label>购票</label>
  </a>
  <a href="<%= deposit_m_users_path %>" class="mdui-ripple mdui-ripple-white <%= active_bottom_nav('users', 'deposit') %>">
    <i class="mdui-icon material-icons">&#xe263;</i>
    <label>充值</label>
  </a>
  <a href="<%= profile_m_users_path %>" class="mdui-ripple mdui-ripple-white <%= active_bottom_nav('users', 'profile') %> <%= active_bottom_nav('orders') %>">
    <i class="mdui-icon material-icons">&#xe851;</i>
    <label>我的</label>
  </a>
</div>