<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">比赛管理</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>比赛名称</th>
                <th>比赛开始时间</th>
                <th>比赛锁定</th>
                <th>赛程</th>
                <th>积分榜</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @games.each do |game| %>
              <tr>
                <td>
                  <%= game.name %>
                </td>
                <td>
                </td>
                <td>
                  <%= game.locked %>
                </td>
                <td>
                  <%= link_to "查看", admin_game_playeds_path(game) %>
                </td>
                <td><%= link_to "查看", admin_game_game_teams_path(game) %></td>
                <td><%= link_to "修改", edit_admin_game_path(game) %> <%= link_to "锁定", lock_admin_game_path(game) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
