<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">比赛管理</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @game.name %>
        <%= link_to "修改", edit_admin_game_path(@game) %>
        <%= link_to "抽签", lot_admin_game_path(@game) %>
        <%= link_to "锁定", lock_admin_game_path(@game) %>
        <%= link_to "产看赛程", admin_game_playeds_path(@game) %>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <article>
          <%= raw @game.constitution_html %>
        </article>
      </div>
    </div>
  </div>
</div>
