<div class="mdui-container-fluid">
  <div class="mdui-row-xs-2 mdui-row-sm-4 mdui-row-md-5 mdui-row-lg-6 mdui-row-xl-7 mdui-grid-list">
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    </div>
  </div>
</div>