<%= render "admin/shared/searchbar" %>
<div class="header-control-field">
    <%= form_for [:admin, Ticket.new], html: { class: "form-inline" } do |f| %>

        <label class="sr-only" for="inlineFormInputGroup">门票名称</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <%= f.text_field :name, class: "form-control", placeholder: "门票名称" %>
        </div>

        <label class="sr-only" for="inlineFormInputGroup">门票价格</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">¥</div>
            <%= f.number_field :price, class: "form-control", placeholder: "门票价格" %>
        </div>

        <label class="sr-only" for="inlineFormInputGroup">场馆名称</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <%= f.select :sport_field_id, SportField.all.collect{|c|[ c.name, c.id ]}, {}, class: "custom-select" %>
        </div>

        <button type="submit" class="btn btn-primary">保存</button>
    <% end %>
</div>
<div class="object-list-field">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>门票名称</th>
                <th>门票价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
            <tr>
                <th scope="row"><%= ticket.id %></th>
                <td><%= ticket.name %></td>
                <td><%= ticket.price %></td>
                <td>
                    <%= link_to "修改", edit_admin_ticket_path(ticket) %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>