<%= render "admin/shared/searchbar" %>
<div class="object-list-field">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>门票名称</th>
                <th>门票价格</th>
                <th>所属场馆</th>
                <th width="150">数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
            <%= form_tag sold_admin_ticket_path(ticket) do %>
            <tr>
                <th scope="row"><%= ticket.id %></th>
                <td><%= ticket.name %></td>
                <td><%= ticket.price %></td>
                <td><%= ticket.sport_field.name %></td>
                <td><input type="number" name="sell_count" value="1" class="form-control form-control-sm" /></td>
                <td>
                    <input type="submit" value="售票" class="btn btn-primary btn-sm" />
                </td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>