<div class="card">
  <div class="card-body card-padding">
    <table class="table sell-tickets-table">
      <% @tickets.each do |ticket| %>
        <tbody>
          <tr>
            <td scope="row">
              <%= ticket.id %>
            </td>
            <td><%= ticket.name %></td>
            <td><%= ticket.price %></td>
            <td>
              <a href="#" class="js-join-to-order btn btn-primary" data-id="<%= ticket.id %>" data-name="<%= ticket.name %>" data-price="<%= ticket.price %>">添加</a>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-body card-padding">
    <%= form_tag admin_orders_path do %>
      <table id="order-ticket-list" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>门票名称</th>
            <th>门票价格</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <input type="submit" value="出票" class="btn btn-primary btn-sm" />
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div>
</div>