<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">比赛管理</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= form_for [:admin, @game, @played] do |f| %>
          主队：<%= f.select :home_team_id, Team.all.collect {|t| [ t.name, t.id ] } %></br>
          客队：<%= f.select :guest_team_id, Team.all.collect {|t| [ t.name, t.id ] } %></br>
          所属比赛：<%= f.select :game_id, Game.all.collect {|g| [ g.name, g.id ] } %></br>
          开始时间：<%= f.datetime_select :start_time, default: Time.now  %></br>
          <%= f.submit "保存" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
