<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">比赛管理</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= form_for [:admin, @game, @played] do |f| %>
          <div class="form-group">
            <label>主队：</label>
            <%= f.select :home_team_id, Team.all.collect {|t| [ t.name, t.id ] }, :html => { class: "form-control" } %>
          </div>
          <div class="form-group">
            <label for="">客队：</label>
            <%= f.select :guest_team_id, Team.all.collect {|t| [ t.name, t.id ] }, :html => { class: "form-control" } %>
          </div>
          <div class="form-group">
            <label>所属比赛：</label>
            <%= f.select :game_id, Game.all.collect {|g| [ g.name, g.id ] } %>
          </div>
          <div class="form-group">
            <label>开始时间：</label>
            <%= f.datetime_select :start_time, default: Time.now %>
          </div>
          <div class="form-group">
            <label>比赛是否结束：</label>
            <%= f.check_box :finish %>
          </div>
          <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
