<%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow chooseWXPay) -%>
<script type="application/javascript">
  wx.ready(function() {
    wx.hideOptionMenu();
  });
</script>
<div class="mdui-container">
  <div class="mdui-row-xs-1">
    <div class="mdui-col">
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">编号：<%= @order.sn %></span>
      </div>
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">总价：<%= @order.total_price %></span>
      </div>
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">状态：<%= @order.status %></span>
      </div>
    </div>
  </div>
  <ul class="mdui-list">
    <% @order.order_tickets.each do |order_ticket| %>
    <li class="mdui-list-item mdui-ripple" onclick="showQRCode(<%= order_ticket.id %>)">
      <div class="mdui-list-item-avatar">
        <%= image_tag("family-ticket.jpg") %>
      </div>
      <div class="mdui-list-item-content">
        <div class="mdui-list-item-title"><%= order_ticket.ticket.name %></div>
        <div class="mdui-list-item-text mdui-list-item-one-line"><span class="mdui-text-color-theme-text">￥<%= order_ticket.ticket.price %></span> </div>
      </div>
    </li>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <% end %>
  </ul>
  <% if @order.pending? %>
  <div class="mdui-row">
    <div class="mdui-col-xs-6">
      <button onclick="javascript:window.location='<%= m_fairy_coins_pay_path(trade_no: @order.sn) %>';" <%= 'disabled' if @order.total_price.to_i > current_user.fairy_coins.to_i %> class="mdui-btn mdui-color-pink-accent mdui-btn-raised mdui-btn-block mdui-ripple">余额支付</button>
    </div>
    <div class="mdui-col-xs-6">
      <a href="javascript:;" onclick="wxpay(this)" data-pid="<%= @order.id %>" data-pname="<%= @order.class.name %>" class="mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple">微信支付</a>
    </div>
  </div>
  <% else %>
  <div class="mdui-dialog" id="qrcode-dialog">
    <div class="mdui-dialog-title">向验票员二维码出示</div>
    <div class="mdui-dialog-content">
      <div id="qrcode"></div>
    </div>
    <div class="mdui-dialog-actions">
      <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>关闭</button>
    </div>
  </div>
  <% end %>
</div>

<% if @order.pending? && Figaro.env.wechat_pay_mch_id %>
<script>
  function wxpay(e) {
    var pid = $(e).data('pid');
    var pname = $(e).data('pname');
    $.post('/m/wx_pay?id=' + pid + '&name='+ pname, function(data) {
      wx.chooseWXPay({
        timestamp: data.timeStamp,
        nonceStr: data.nonceStr,
        package: data.package,
        signType: data.signType,
        paySign: data.paySign,
        success: function (res) {
          location.reload();
        },
        error: function(e) {
          alert('支付发生错误，请联系客服。');
        }
      });
    });
  }
  function showQRCode(order_ticket) {
    return false;
  }
</script>
<% else %>
<script>
  function showQRCode(order_ticket) {
    // $('#qrcode').qrcode('http://bluefariypark.cn/m/order_ticket/' + order_ticket + '/check');
    var inst = new mdui.Dialog('#qrcode-dialog');
    inst.open();
  }
</script>
<% end %>