<div class="container-fluid">
  <div class="row" style="margin-top: 80px;">
    <div class="col-md-12">
      <div class="well well-sm">
        编号：<%= @order.sn %>
      </div>
      <div class="well well-sm">
        总价：<%= @order.total_price %>
      </div>
    </div>
  </div>
</div>
<ul class="list-unstyled">
  <% @order.order_tickets.each do |order_ticket| %>
  <li style="background-color:#fff;">
    <div class="ticket-wrapper">
      <div class="ticket-logo">
        <%= image_tag("family-ticket.jpg") %>
      </div>
      <div class="ticket-info">
        <div class="subject"><%= order_ticket.ticket.name %></div>
        <div class="sale">
          <div class="price">
            <span>￥<%= order_ticket.ticket.price %></span>
          </div>
          <div class="buy">
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <a href="<%= m_shopping_carts_path %>" class="btn btn-raised btn-danger">马上付款</a>
  </div>
</div>