<div class="mdui-container">
  <div class="mdui-row-xs-1">
    <div class="mdui-col">
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">编号：<%= @order.sn %></span>
      </div>
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">总价：<%= @order.total_price %></span>
      </div>
    </div>
  </div>
  <ul class="mdui-list">
    <% @order.order_tickets.each do |order_ticket| %>
    <li class="mdui-list-item mdui-ripple">
      <div class="mdui-list-item-avatar">
        <%= image_tag("family-ticket.jpg") %>
      </div>
      <div class="mdui-list-item-content">
        <div class="mdui-list-item-title"><%= order_ticket.ticket.name %></div>
        <div class="mdui-list-item-text mdui-list-item-one-line"><span class="mdui-text-color-theme-text">￥<%= order_ticket.ticket.price %></span> </div>
      </div>
    </li>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <% end %>
  </ul>
  <div class="mdui-row-xs-1">
    <div class="mdui-col">
      <a href="javascript:;" onclick="alert('尚未开通');return;" class="mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple">付款</a>
    </div>
  </div>
</div>