<%= render './m/shared/header', :locals => { title: "游泳培训班" } %>
<ul class="list-unstyled" style="margin-top: 60px;">
    <% @lessons.each do |lesson| %>
    <li style="background-color:#fff;">
        <div class="ticket-wrapper">
            <div class="ticket-logo">
                <%= image_tag("family-ticket.jpg") %>
            </div>
            <div class="ticket-info">
                <div class="subject"><%= lesson.subject %></div>
                <div class="sale">
                    <div class="price">
                        <span>￥<%= lesson.price %></span>
                    </div>
                    <div class="buy">
                        <%= link_to "报名", new_m_lesson_student_path(lesson), class: "btn btn-raised btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <% end %>
</ul>