<div class="mdui-container">
  <ul class="list-unstyled">
    <% @lessons.each do |lesson| %>
    <li style="background-color:#fff;">
      <div class="ticket-wrapper">
        <div class="ticket-logo">
          <%= image_tag("family-ticket.jpg") %>
        </div>
        <div class="ticket-info">
          <div class="subject"><%= lesson.subject %></div>
          <div class="summary"><%= lesson.summary %></div>
          <div class="sale">
            <div class="price">
              <span>￥<%= lesson.price %></span>
            </div>
            <div class="buy">
              <%= link_to "报名", new_m_lesson_student_path(lesson), class: "mdui-btn mdui-color-pink-accent mdui-ripple" %>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>