<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @game.name %>积分榜</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>队伍名称</th>
                <th>胜局数量</th>
                <th>败局数量</th>
                <th>积分</th>
                <th>净胜分</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @game_teams.each do |game_team| %>
              <tr>
                <td>
                  <%= game_team.team.name %>
                </td>
                <td>
                  <%= game_team.wins %>
                </td>
                <td>
                  <%= game_team.losses %>
                </td>
                <td>
                  <%= game_team.points %>
                </td>
                <td><%= game_team.score_difference %></td>
                <td><%= link_to "修改", edit_admin_game_game_team_path(@game) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
