<div class="mdui-container">
  <ul class="list-unstyled bfui-membership-card-list">
    <% @membership_cards.each_with_index do |card, index| %>
    <li>
        <div class="bfui-stamp bfui-stamp-<%= index + 1 %>">
            <div class="par">
                <p>蓝精灵 <%= card.name %></p>
                <sub class="sign">￥</sub>
                <span><%= card.fee %></span>
            </div>
            <div class="action">
                <%= form_for [:m, UserMembershipCard.new] do |f| %>
                    <%= f.hidden_field :membership_card_id, value: card.id %>
                    <%= f.submit "购买" %>
                <% end %>
            </div>
        </div>
    </li>
    <% end %>
  </ul>
</div>