<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>会员卡名称</th>
                <th>会员卡价格</th>
                <th>所属会员</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @user_membership_cards.each do |user_membership_card| %>
            <tr>
                <th scope="row"><%= user_membership_card.id %></th>
                <td><%= user_membership_card.membership_card.name %></td>
                <td><%= user_membership_card.membership_card.fee %></td>
                <td><%= user_membership_card.user.nickname %></td>
                <td><%= user_membership_card.count %></td>
                <td>
                    <%= i18n_enum user_membership_card, :status %>
                </td>
                <td>
                    <%= link_to "查看", admin_membership_card_user_membership_card_path(@membership_card, user_membership_card) %>
                    <%= link_to "修改", edit_admin_membership_card_user_membership_card_path(@membership_card, user_membership_card) %>
                    <%= link_to '删除', admin_membership_card_user_membership_card_path(@membership_card, user_membership_card), method: :delete %>
                </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <%= will_paginate @user_membership_cards %>
                </td>
            </tr>
        </tfoot>
    </table>
  </div>
</div>