<div class="mdui-container-fluid">
  <div class="user">
      <div class="avatar">
        <%= image_tag(user_avatar, class: "mdui-img-circle") %>
      </div>
      <div class="name">
          <span><%= current_user.nickname %></span>
      </div>
  </div>
  <div class="money">
    <div class="coins">
      <a href="<%= m_deposits_path %>">
        <span>账户余额</span>
        <span>￥<%= current_user.fairy_coins %></span>
      </a>
    </div>
    <div class="foregift">
      <span>储物柜押金</span>
      <span>￥<%= current_user.foregift %></span>
    </div>
  </div>
  <div class="mdui-divider"></div>
  <ul class="mdui-list">
    <a href="<%= new_m_deposit_path %>" >
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xE227;</i>
        </div>
        <div class="mdui-list-item-content">我要充值 <small style="font-size:11px;color: red;">充100送30</small></div>
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
      </li>
    </a>
    <a href="<%= m_deposits_path %>" >
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xE227;</i>
        </div>
        <div class="mdui-list-item-content">充值记录</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
      </li>
    </a>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <a href="<%= m_orders_path %>">
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xe168;</i>
        </div>
        <div class="mdui-list-item-content">订单</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
      </li>
    </a>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <a href="<%= m_membership_cards_path %>">
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xe168;</i>
        </div>
        <div class="mdui-list-item-content">我的会员卡</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
      </li>
    </a>
    <a href="<%= new_m_membership_card_path %>">
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xe168;</i>
        </div>
        <div class="mdui-list-item-content">购买会员卡</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
      </li>
    </a>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <a href="<%= m_students_path %>">
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xE068;</i>
        </div>
        <div class="mdui-list-item-content">培训班</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
      </li>
    </a>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
    <li class="mdui-list-item mdui-ripple">
      <div class="mdui-list-item-avatar">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xE8B2;</i>
      </div>
      <div class="mdui-list-item-content">意见投诉</div>
      <i class="mdui-list-item-icon mdui-icon material-icons">&#xE315;</i>
    </li>
  </ul>
</div>