<div class="card">
  <div class="card-body card-padding">
  </div>
</div>
<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>昵称</th>
                <th>电话</th>
                <th>账户余额</th>
                <th>性别</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <th scope="row"><%= user.id %></th>
                <td><%= user.name %></td>
                <td><%= user.nickname %></td>
                <td><%= user.mobile %></td>
                <td><%= user.foregift %></td>
                <td><%= i18n_enum user, :sex %></td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <%= will_paginate @users %>
                </td>
            </tr>
        </tfoot>
    </table>
  </div>
</div>