<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar" class="">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="index.html">蓝精灵 水上乐园 管理系统</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="<%= 'active' if is_current_scope?('park') %>">
      <a href="<%= sell_admin_tickets_path %>">门票</a>
    </li>
    <li class="<%= 'active' if is_current_scope?('store') %>">
      <a href="<%= new_admin_sales_list_path %>">商铺</a>
    </li>
    <li class="<%= 'active' if is_current_scope?('lesson') %>">
      <a href="<%= admin_students_path %>">培训班</a>
    </li>
    <li class="<%= 'active' if is_current_scope?('system') %>">
      <a href="<%= admin_admins_path %>">系统设置</a>
    </li>
  </ul>
</header>
