<!DOCTYPE html>
<html>
<head>
  <title>新兴县水精灵水上乐园</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
  <%= stylesheet_link_tag    'mobile', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mobile', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="mdui-bottom-nav-fixed">
  <%= render './m/shared/header', :locals => { title: header_title } %>
  <%= yield %>
  <%= render './m/shared/footer' %>
</body>
</html>
